body {
    height: 100%;
    width: 100%;
}

.footer ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 15%;
}

.footer a {
    display: inline-block;
}

.footer img {
    width: 50%;
    height: 100%;
}
.contact h1 {
    display: flex;
    justify-content: center;
}