body {
     background-color: #0E0E0E;
     color: white;
}

.img {
    display: flex;
    justify-content: center;
    margin-left: 25%;
}

@media (max-width: 768px) {
    .img {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }
}

.about h1 {
    padding: auto;
    margin:  auto;
    display: column;
    justify-content: center;
    text-align: center;
}

.about p {
    padding: auto;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40%;
    word-wrap: break-word;
    text-align: center;
    font-size: 150%;
}
@media only screen and (max-width: 767px) {
    .about p {
      font-size: 14px;
    }
  }

  .media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .media iframe {
    width: 560px;
    height: 315px;
    margin: 20px;
    box-sizing: border-box;
  }
  
  @media (max-width: 1700px) {
    .media iframe {
      width: calc(33.33% - 40px);
    }
  }
  
  @media (max-width: 1160px) {
    .media iframe {
      width: calc(50% - 40px);
    }
  }
  
  @media (max-width: 560px) {
    .media iframe {
      width: 100%;
    }
  }
  .mediaImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -5px;
  }
  
  .mediaImages img {
    width: 25%;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  @media only screen and (max-width: 768px) {
    .mediaImages {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .mediaImages img {
      width: 80%;
      margin: 20px 0;
    }
  }
  
.contact h1 {
    display: flex;
    justify-content: center;
}
.contact a{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
.contact p, a {
  font-size: 150%;
}
.contact { 
  display: grid;
  justify-content: center;
}
button {
  padding: 16px 32px;
  background-color: rgb(50, 191, 238);
  color: white;
  border-radius: 1%;
  font-size: 18px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  button {
    width: 80%;
    margin-left: 10%;
  }
}

.footer ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
  background-color: pink;
}

.footer a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50%;
}

.footer img {
  width: 40%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
  }
}
